<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vues</title>
    <!--link href="simpleGrid.css" rel="stylesheet" type="text/css"-->
	<style>
	body {
		font-family: Arial,Tahoma, Calibri, sans-serif;
  font-size: 14px;
  color: #000;
  background:#fff;

}
        .mySelect{
            width:150px;
            height:150px;
        }
#col{
  position:absolute;
    margin-left : 200px;
    top:55px;
    width:140px;
    height:140px;
    text-align:center;
    border:1px solid black;

}
</style>
<script src="https://unpkg.com/vue"></script>
</head>

<body>
    <h3>Colour tests with framework vue.js</h3>
<div id="app">
	<select v-model='selected' size='8' class='mySelect'>
		<option v-for='option in options' v-bind:value='option.value'>
            {{option.text}}
        </option>
	</select>
    <br />    <br />
    value : <input v-model="val"> text : <input v-model="txt">
    <button v-on:click="ajouter">Add new colour</button>
    <br />
    <br />
     <div v-bind:style='{background:selected}'  id='col' ><p style='color:white'>{{ selected }}</p><p style='color:black'>{{ selected }}</p></div>
</div>
 
  <script>


// Link
var app = new Vue({
  el: '#app',
  data: {
    selected: 'red',
    val:'',
    txt:'',
    options: [
        {text : 'red' , value : 'red'},
        {text : 'blue' , value : 'blue'},
        {text : 'green' , value : 'green'},
        {text : 'black' , value : 'black'},
        {text : 'grey' , value : 'grey'},
        {text : 'pink' , value : 'pink'},
        {text : 'violet' , value : 'purple'}
    ]
  },
  methods: {
    ajouter: function () {
      var val = this.val;
      var txt = this.txt;
     if(val!='' && txt!=''){
         this.options.push({text:txt,value:val});
         
     }
    }
  }
})
  </script>

</body></html>
